html,body {
    width: 100%;
    height: 100%;}

body {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background:#f5f5f5 url("../images/retina_dust.png");}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #1266AB;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1266AB;
}

.wrapper-container {
    display:table;
    width:100%;
    height:100%;
    min-height:100%;}

.wrapper-inner-container {
    vertical-align:middle;
    width:100%;
    height:100%;
    min-height:100%;
    display:table-cell;}

.wrapper-inner-container.next-inner-container {
    vertical-align: top;
}

.cover-container {
    margin-right:auto;
    margin-left:auto;}

@media (min-width: 768px) {
    .wrapper-inner-container {vertical-align:middle;}
    .cover-container {width:100%;}}

@media (min-width: 992px) {
    .cover-container{width:700px;}}

.inner {padding:30px; vertical-align:middle;}
.cover {padding:0 20px 100px 20px;}

.separator {
    padding-top: 0px;
    width:100%;
    min-width:100%;
    height:1.5%;
    background-color:#0A528D;
}
.wrapper-inner-separator {
    padding-top: 0px;
    width:100%;
    min-width:100%;
    height:1.5%;
    background-color:#0A528D;}

.chartbucket-heading {
    text-align: center;
    font-size: 50px;
    color: #0A528D;
}

.chartbucket-spinner {
    font-weight: 100;
    text-align: center;
    font-size: 100px;
    color: #0A528D;
}

.chartbucket-first {
    font-weight: 100;
    text-align: center;
    font-size: 100px;
    color: #0A528D;
}

.select2-results .select2-highlighted {
    background: #1266AB;
    color: #fff;
}

.btn-go {
    z-index: 3;
    color: #fff;
    border-color: #0A528D;
    -webkit-transition: 200ms background-color;
    -moz-transition: 200ms background-color;
    -o-transition: 200ms background-color;
    transition: 200ms background-color;
    background-color: #0A528D;}

.btn-go:hover,
.btn-go:focus,
.btn-go:active {
    z-index: 3;
    color:#fff;
    border-color: #1266AB;
    background-color: #1266AB;}